<tr>
                              	<td width="573" height="{{ height }}" style="font-size: 0px; line-height:{{ height }}px;">&nbsp;</td>
                              </tr>
                              <tr>
                                       <td valign="top">
                                          <img src="https://www.smiles.com.br/emails/padrao/hr.jpg" width="573" height="7" alt="." border="0" style="display:block;">
                                       </td>
                                    </tr>
                                   	<tr>
                              	<td width="573" height="{{ height }}" style="font-size: 0px; line-height:{{ height }}px;">&nbsp;</td>
                              </tr>