<tr>
                                       <td width="573" height="15" style="line-height:15px;background:#e2e2e2;"></td>
                                    </tr>
                                    <tr>
                                       <td height="50" valign="top">
                                          <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff">
                                             <tr>
                                                <td width="28" align="left" valign="middle">
                                                   <img src="https://www.smiles.com.br/emails/padrao/footer_border_left.jpg" width="10" height="50" alt="." border="0" style="display:block; color: #010101; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 1px;">
                                                </td>
                                                <td width="122" align="left" valign="middle">
                                                   <img src="https://www.smiles.com.br/emails/padrao/footer_sociais.jpg" width="115" height="23" alt="Acompanhe Smiles nas redes sociais." border="0" style="display:block; color: #010101; font-size: 8px;">
                                                </td>
                                                <td width="29" align="left" valign="middle">
                                                   <a href="https://www.facebook.com/smilesoficial?origem=Facebook" target="_blank" Rilt="Facebook">
                                                   <img src="https://www.smiles.com.br/emails/padrao/facebook.jpg" width="26" height="26" alt="Facebook" border="0" style="display:block; color: #010101; font-size: 8px;">
                                                   </a>
                                                </td>
                                                <td width="29" align="left" valign="middle">
                                                   <a href="https://twitter.com/smilesoficial?origem=Twitter" target="_blank" Rilt="Twitter">
                                                   <img src="https://www.smiles.com.br/emails/padrao/twitter.jpg" width="26" height="26" alt="Twitter" border="0" style="display:block; color: #010101; font-size: 8px;">
                                                   </a>
                                                </td>
                                                <td width="26" align="left" valign="middle">
                                                   <a href="https://instagram.com/smiles.oficial?origem=Instagram" target="_blank" Rilt="Instagram">
                                                   <img src="https://www.smiles.com.br/emails/padrao/instagram.jpg" width="26" height="26" alt="Instagram" border="0" style="display:block; color: #010101; font-size: 8px;">
                                                   </a>
                                                </td>
                                                <td width="72" align="left" valign="middle"></td>
                                                <td width="257" align="left" valign="middle">
                                                   <a href="https://www.smiles.com.br?origem=Site_smiles_footer" target="_blank" Rilt="Site_smiles_footer">
                                                   <img src="https://www.smiles.com.br/emails/padrao/footer_smiles.jpg" width="236" height="28" alt="https://www.smiles.com.br" border="0" style="display:block; color: #010101; font-size: 8px;">
                                                   </a>
                                                </td>
                                                <td width="10" align="right" valign="middle">
                                                   <img src="https://www.smiles.com.br/emails/padrao/footer_border_right.jpg" width="10" height="50" alt="." border="0" style="display:block; color: #010101; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 1px;">
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td width="573" height="10" align="left" valign="middle" style="line-height:10px;background:#e2e2e2;"></td>
                                    </tr>