<tr>
                                <td width="573" align="center">
                                  <table width="573" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                      <td>
                                        <a href="https://www.smiles.com.br?origem=Promo_aniversario" target="_blank" Rilt="Promo_aniversario">
                                          <img src="https://www.smiles.com.br/emails/20150526/01/slots/imgs/{{ image }}" width="573" height="{{ height }}" border="0" style="display:block;" alt="Desejamos que voc&ecirc; tenha muitos motivos para sorrir hoje e sempre.">
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>